@model Entities.Contact

@{
    ViewBag.Title = "İletişim";
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.Raw(TempData["Message"])
<div class="row">
    <div class="col">
        <h4>Adresimiz</h4>
        <hr />
        <address>
            Batı Mah. Papatya Sokak No : 18/C<br />
            Pendik, İstanbul<br />
            <abbr title="Phone">Telefon:</abbr>
            0216 555 55 55
        </address>

        <address>
            <strong>Destek:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Pazarlama:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Bize Ulaşın</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SurName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 mt-3">
                        <input type="submit" value="Gönder" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col">
        <h4>Harita</h4>
        <hr />
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3016.6647909984836!2d29.233057000000002!3d40.87923!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa053e0b7ec57d6!2sAr%C4%B1%20Bilgi%20Bili%C5%9Fim%20Teknolojileri%20Akademisi!5e0!3m2!1str!2sus!4v1652610404003!5m2!1str!2sus" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

